{% extends 'layouts/default.html.twig' %}
{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        {% if session().hasFlash('error') %}
            <div class="alert alert-danger">
                {{ session().getFlash('error')[0] }}
            </div>
        {% endif %}
        <form action="/login" method="post">
            <div class="mb-3">
                <label for=email" class="form-label">Email</label>
                <input type="email" name="email" value="ddd@ddd.com" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" value="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
