{% extends 'layouts/default.html.twig' %}

{% block main %}
    {% if session().hasFlash('success') %}
        <div class="alert alert-success">
            {% for message in session().getFlash('success') %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Post - {{ post.title }}</h1>
        <p><em>{{ post.created_at|date('Y-m-d H:i') }}</em></p>
        <p>{{ post.body }}</p>
    </div>
{% endblock %}
